*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
    
}

header, footer,main{
  
    padding: 20px 0;
   background: rgb(255, 255, 255);
   margin: 10 px auto;
   max-width: 1000px;
   border-radius: 8 px;

}
main{
    display: flex;
    gap: 20px;
}

.content{
    flex: 3;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
}
.sidebar{
    flex: 1;
    background: #d0d0d0;
    padding: 7px;
    border-radius: 20px;
}
@media (max-width: 768px){
    main{
        flex-direction: column;
    }
}

.content.sidebar{
    flex: none;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e10000;
    color: #ff0000;
    padding: 15px 20px;
    border-radius: 8px;
}
header h1{
    font-size: 1.5rem;
}

nav a{
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;

}

nav a:hover{
    text-decoration: underline;
}