*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0a0a0a;
    font-family : Arial, sans-serif;
    margin : 0;
    
}

header, footer,main{
  
    padding: 20px 0;
   background: rgb(255, 255, 255);
   margin: 10 px auto;
   max-width: auto;
   border-radius: 8 px;

}
main{
    display: flex;
    gap: 20px;
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
}

.content{
    flex: 3;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
}
.sidebar{
    flex: 1;
    background: #d0d0d0;
    padding: 7px;
    border-radius: 20px;
}
@media (max-width: 768px){
    main{
        flex-direction: column;
    }
}

.content.sidebar{
    flex: none;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 0.5px;
}
header h1{
    font-size: 1.5rem;
}

nav a{
    color: #fafafa;
    text-decoration: none;
    margin-left: 15px;
    font-weight: semi-bold;

}

nav a:hover{
    text-decoration: underline;
}
footer{
    background: #333;
    color:rgb(203, 0, 0);
    text-align: center;
    padding:15px 0 ;
    border-radius: 8px;
    margin-top:20px;
    font-size:0.9rem;

}
*{ 
    transition:all 0.2s ease;
}

nav a:hover{
    text-decoration:underline;
    color: #ffcc00;
}

.sidebar:hover{
    background: #ccc;
}

.quiz{
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}


button {
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }

button:hover {
    background: #ff0000;
  }